.BoardHeader {
    box-sizing: border-box;
    padding: 0.7em 2em;
    background: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 1.3em;
    }
}