.BoardHeader {
    box-sizing: border-box;
    padding: 2em 2em 0.7em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 1.5em;
        color: rgb(85, 85, 85);
    }
}