.CreateNoteForm {
    overflow: hidden;
    background: transparent;
    padding: 0.5em;
    line-height: 1;
    background: #fff;
    box-shadow: 0 5px 5px #ccc;     

    textarea {
        display: inline-block;
        min-width: calc(100% - 80px);
        max-width: calc(100% - 80px);
        min-height: 60px;
        margin-right: 1em;
        padding: 0.5em;
    }
    
    button {
        display: inline-block;
        background: #999;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        color: white;
        border: 0;
        vertical-align: bottom;
    }
}