.Note {
    background: #fff;
    overflow: hidden;
    transition: all .1s;
    &-content {
        padding: 1.2em;
        font-size: 1.3em;
    }
    
    &:hover { 
        box-shadow: 0 5px 5px #ccc;      
    }

    &:hover &-actions {
        button {
            color: #23548b;
        }
        &-badge {            
            background: #346fb3;
        }
    }

    &-actions {
        background: #fff;
        display: flex;
        justify-content: flex-end;
        padding: 0.5em 1em;


        button {
            background: transparent;
            border: none;
            padding: 0.2em 0.5em;
            line-height: 1;
            font-size: 1.2em;
            cursor: pointer;
            white-space: nowrap;
            color: #ccc;

            &:hover, &:focus {
                opacity: .8;
                outline: none;
            }

            &:active {
                position: relative;
                top: 2px;
            }


            svg, span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &-badge {
            background: #ccc;
            color: #fff;
            font-size: 0.6em;
            font-weight: bold;
            padding: 0.3em 0.6em;
            line-height: 1;
            border-radius: 20px;
            margin-left: 0.5em;
        }
    }
}